<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ATT - 4739 - 4008</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<header>
  <nav>
    <table>
      <td><a th:href="@{/}" class="button">Home</a></td>
      <td><a th:href="@{/data}" class="button">Data</a></td>
      <td><a th:href="@{/graphs}" class="button">Graphs</a></td>
      <td><a th:href="@{/report}" class="button">Report</a></td>
      <td><a th:href="@{/about}" class="button">About</a></td>
    </table>
  </nav>
</header>
</body>
</html>
