<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="UTF-8">
    <title>ATT - 4739 - 4008</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="home-body">
<!-- Include Header -->
<div th:replace="fragments/header :: header" type="header"></div>

<div style="text-align: center;">
    <p>GitHub link:
        <a href="https://github.com/AngelGketsis/Adv-topics-db-tech-app">https://github.com/AngelGketsis/Adv-topics-db-tech-app</a>
    </p>
    <p>Find us on GitHub:
        <a href="https://github.com/sourkitten">Ivi Ballou</a>,
        <a href="https://github.com/AngelGketsis">Angelos Gketsis</a>
    </p>
</div>

<!-- Include Footer -->
<div th:replace="fragments/footer :: footer" type="footer"></div>
</body>
</html>
